@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
    Notes: [Vilan]
    Please give me idea of how you see the pages if possible.

    I am currently just gonna try to fill the pages to give an overall look but if you guys have
    any suggestions or ideas in mind, feel free to add in the comments area I will provide, thank you :)
-->
<br />
<br />
<div class="text-center">
    <h1 class="h1">Expense Log</h1>
    <br />
    <h3 class="h3">About Us</h3>
    <p>
        This application enhances expense tracking by allowing users to log purchases along with store details, providing a clear understanding of where their money goes. By integrating shop and location data, users can track spending patterns, identify costly stores, and gain better control over their finances. The app simplifies financial organization by linking expenses, shops, and contacts in one place therefore making it easy to retrieve and manage data. It is highly suitable for individuals who want detailed tracking of personal expenses and for businesses that need to manage financial records and imports efficiently.

    </p>

</div>
