@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
    Notes: [Vilan]
    Please give me idea of how you see the pages if possible.

    I am currently just gonna try to fill the pages to give an overall look but if you guys have
    any suggestions or ideas in mind, feel free to add in the comments area I will provide, thank you :)
-->

<div class="container">

    @* Main Title Area *@
    <div class="text-center row bg-opacity-50 mt-5">
        <h1 class="display-1 fw-bold">Expense Log</h1>
        <p class="mt-0 h4"">
            <br /><br />
            Group Members:<br />
            Llavore, Juan Paolo<br />
            Merano, Christian<br />
            Vilan, Miguel Anthony
        </p>
    </div>

    @* Body Area *@
    
