@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!--
    Notes: [Vilan]
    Please give me idea of how you see the pages if possible.

    I am currently just gonna try to fill the pages to give an overall look but if you guys have
    any suggestions or ideas in mind, feel free to add in the comments area I will provide, thank you :)
-->

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
